footer {
    background: url("../imgs/bg_covers/footer_m.jpg") no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    footer .logo {
        border-left: 1px white solid;
        border-right: 1px white solid;
    }
    #footer-one-xs {
        display: none;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #footer-one-sm {
        display: none;
    }
}

div.one-line-height {
    line-height: 1 !important;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.dark-one {
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.dark-two {
    background-color: rgba(0, 0, 0, 0.50) !important;
    padding: 35px;
}

.dark-three {
    background-color: rgba(0, 0, 0, 0.75) !important;
    padding: 10px;
}
